  .today {
    background-color:  #01c3f3;
    font-weight: bold;
  }

  .highlight {
    background-color: var(--hover-dark);
    transition: background-color 0.3s;
  }

    
  .weekend-cell {
     background-color: #1e263a; /* Colore di sfondo per il weekend */
  }
  .weekend {

    color: #b80505; 
     background-color: #1e263a;
    font-weight: bold; 
  }

  
  .weekend td {
    color: #d9534f; /* Colore del testo per sabato e domenica */
    font-weight: bold; /* Facoltativo, rende il testo più evidente */
  }

  
  .today  {
    color: #01c3f3; 
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 3px;
    text-decoration-color: #01c3f3; 
  }

/* ==============================
Responsive Design
============================== */
@media (max-width: 768px) {

.Reparto-table-container td:first-child {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  max-width: 80px; /* o ch */
}
}