
.commessa {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  border: 1px solid #146da8;
  color: var( --text-light);
   background-image: linear-gradient(135deg, #020536, #032c61,  #020536);
}



.Avanzamento-table-container {
 max-height: 80vh; 
}


.dropzone-placeholder{
  min-height: 100vh;
  min-width: 100%;
}

  .warning-note{
    color:var( --color-danger); 
  }
  
  .commessa--dragging {
  opacity: 0.5;
}

.commessa--date-warning {
  background-color: #ffcccc; /* rosso chiaro */
}

.commessa--list-warning {
  border: 2px solid red;
}

.delivery-alerts {
  margin-top: 5px;
}

.delivery-icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.delivery-icon--week {
  color: orange;
}

.delivery-icon--month {
  color:  #146da8;
}

.trello-warning {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  padding-bottom: 5px;

}

.trello-warning--missing {
  font-style: italic;
}

.trello-warning--date {
  font-weight: bold;
}

.trello-warning--list {
  font-weight: normal;
}

.btn--mini {
  padding: 3px 8px;
  font-size: 0.8em;
  margin-top: 5px;
}

.btn--danger {
  background-color: #c9302c;
  color: white;
  border: none;
  cursor: pointer;
}

.btn--danger:hover {
  background-color: #e60000;
}


.warning-section {
  margin-top: 5px;
}

.warning-card {
  padding: 10px;
  background-color: #020536;
  border: 1px solid #e60000;
  border-radius: 6px;
  margin-bottom: 10px;
}

.warning-icon {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: help;
}

.unfinished-section {
  margin-top: 5px;
}

.unfinished-card {
  padding: 10px;
  background-color: #020536;
  border: 1px solid #ffcc00;
  border-radius: 6px;
  margin-bottom: 10px;
   font-size: 14px;
}

.unfinished-icon {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: help;
}


.drag-overlay{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  pointer-events: none;
}

.commessa--drag-overlay{
  transform: scale(1.02);
  opacity: 0.95;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.drag-ghost {
  transform: translate3d(0,0,0);
}

.commessa--drag-ghost{
  opacity: 0.95;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  transform: scale(1.02);
}

.commessa {
  user-select: none;
  -webkit-user-select: none;
}

.dropzone {
  min-height: 60px; /* così resta droppabile anche se vuota */
}

.drag-ghost {
  pointer-events: none;
}
