.navbar {
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 5px;
 

}
.navbar-header {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  top: 0;
  display: flex;
  align-items: center;
  padding: 5px ;
  border-width: 2px;
  border-radius: var(  --btn-border-radius-pill);
  background-image: var( --color-blue-shiny);
  color: #ffffff;
  z-index: 99;
}


/* Dropdown Container */


/* Dropdown Menu */
/* OLD
.dropdown-menu-nav {
margin-top: 15px;
  width: 100%;
  background-color:  #111827;
  color: #ffffff;
  padding: 10px 0;


}
*/

/* Dropdown Menu NEW*/
.dropdown-menu-nav {
margin-top: 0px;
  width: 100%;
  height: 100vh;
  background-color:  #111827;
  color: #ffffff;
  padding: 10px 0;
  position: fixed;
  display: flex;
  z-index: 2000; /* Imposta un valore più alto dell'header */
  color: var( --text-dark);
  overflow-y: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-menu-nav  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.dropdown-menu-nav  li {
  padding: 10px 15px;
  
}

.dropdown-menu-nav  li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  

}


/* Titolo delle notifiche */
.dropdown-menu-nav h4 {
  padding-left: 10px;
  font-size: 18px;
  color: #f10707;
}

/* Lista notifiche */
.dropdown-menu-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
/* Singola notifica */
.dropdown-menu-nav ul li {
  display: flex;
  color: rgb(255, 255, 255);
}
/* Nessuna notifica */
.dropdown-menu-nav p {
  margin: 10px 0;
  font-size: 14px;
  color: #777;
  text-align: center;
  padding-left: 10px;
}


.notifications-container {
  padding: 20px;
  border-radius: 5px;
}

.notification-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
}
.notification-item p {
  word-break: break-word;
  white-space: pre-wrap; /* se vuoi preservare eventuali \n */
}

.notification-item.unread {

  font-weight: bold;
}

.notification-item.read {

  color: var( --text-light)
}




.notification-badge {
 position: absolute;

  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}



.dropdown-subgroup {
  margin-bottom: 10px;
}

.subgroup-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #007bff;
}

.dropdown-subgroup ul {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}

.dropdown-subgroup ul li {
  margin-bottom: 5px;
}

.dropdown-subgroup ul li a {
  color: #333;
  text-decoration: none;
}



.search-suggestions{
  font-size: 16px;
  height: 100vh;
  width: 100%;
    display: flex;
  flex-direction: column;
   overflow-y: auto;
       transition: transform 0.3s ease, box-shadow 0.3s ease;
         z-index: 2000; /* Imposta un valore più alto dell'header */
           position: fixed;
           background-color:  #111827;
           left: 0;
}

.search-suggestions li{
  padding: 10px;
}

.search-dropdown {
  top: 60px; /* adatta in base al layout */
  padding: 10px;
  z-index: 2000;
  height: 100vh;
  min-width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  max-width: fit-content;
  overflow-y: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 2000; /* Imposta un valore più alto dell'header */
  position: fixed;
  background-color:  #111827;
  
}

/* Stili per il dropdown con transizione */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 500ms ease;
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease, transform 500ms ease;
}



@media (max-width: 768px) {

.menu-list li a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 14px;
}




.dropdown-menu-nav  li a {
  text-decoration: none;
  font-size: 13px;
}

.search-suggestions{
  font-size: 14px;
}

.search-suggestions li{
  padding: 8px;
}


}