.Comm-table-container {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 92vh;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Comm-calendar {
  width: 100%;
  border-collapse: collapse;
}

.Comm-calendar  th {
  padding: 10px;
  color: white;
  text-align: center;
}

.Comm-calendar  td {
  border: 1px solid #ddd;
  padding: 15px;
  vertical-align: top;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.Comm-calendar  td:hover {
  background-color: #0b3d52;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.Comm-day-header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.Comm-event {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  transition: transform 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Comm-event:hover {
  transform: translateY(-3px);
}

.Comm-event.scadenza {
  background-color: #007bff;
  color: white;
}

.Comm-empty-cell {
  background-color: #f0f0f0;
}

.Comm-today-cell {
  background-color: #01c3f3;;
  border: 2px solid #000000;
  box-shadow: 0px 2px 8px rgba(0, 123, 255, 0.3);
}

.Comm-today-cell .Comm-day-header {
  color: #0932eb;
  font-size: 26px;
  font-weight: bold;
}

.current-month {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #007bff;
}


/* ==============================
Responsive Design
============================== */
@media (max-width: 768px) {
  .Comm-calendar  th,
  .Comm-calendar  td {
    font-size: 12px;
    padding: 8px;
  }

  .current-month {
    font-size: 18px;
  }

}
@media (max-width: 480px) {


.Comm-event {
  font-size: 12px;

}
}