



.activity5 {
    padding: 5px;
    margin: 2px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
  }
  
  .activity5-type-default {
    background-color: #3c3ff1; /* Grigio */
  }
  .activity5-type-sviluppo {
    background-color: #5539b9; /* Verde */
    color: #fff;
  }
  .activity5-type-special {
    background-color: #007bff; /* Blu */
  }
  
  .activity5-type-urgent {
    background-color: #dc3545; /* Rosso */
  }
  
  .no-activity5 {
    color: #ccc;
    font-style: italic;
  }
 
  
 
.search-commessa{
  display: flex;
  align-items:baseline;
  flex-direction: row;
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  color: #fff;

}
.suggestions-list2 {
  padding: 0;
  margin: 0;
  top: 100%; /* Posiziona la lista immediatamente sotto l'input */
  left: 0;
  z-index: 10; /* Assicura che la lista appaia sopra altri elementi */
  border: 1px solid #ccc;
  max-height: 150px;
  width: calc(100% - 2px); /* Adatta la larghezza al contenitore */
  overflow-y: auto;
  border-radius: 4px; /* Opzionale, per arrotondare gli angoli */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effetto ombra */
  color: rgb(255, 255, 255);
}
.suggestions-list2 li {
  padding: 10px;
  cursor: pointer;
  }
  
  .suggestions-list2 li:hover {
   background-color: var(--hover-dark);
  }
.btn-search-commessa{
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  width: fit-content;
  margin-left: 10px;
}
