
.Comm-table-container {
  overflow-y: auto;  /* Scorrimento verticale */
  max-height: 1000px; /* Altezza massima per lo scrolling */
  border: 1px solid #ddd;
}

.Comm-schedule {
  width: 100%;
  border-collapse: collapse;
}

.Comm-schedule th, 
.Comm-schedule td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}



.Comm-schedule td:first-child {
  position: sticky;
  left: 0;
  z-index: 2; /* Più alto per sovrapporsi alle celle */
  background-color: #ffffff;
}

.event {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  font-size: 12px;
}

.event.fat {
  background-color: #ffc107;
  color: #000;
}

.event.scadenza {
  background-color: #28a745;
  color: #fff;
}
