
/* ==============================
Generale
============================== */
html, body {
  margin: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
 /*overflow: hidden;*/
  background-color: #f5f5f5; /* Colore di sfondo */
  color: #333; /* Colore del testo */
  font-family: Arial, sans-serif; /* Font generale */
  box-sizing: border-box; /* Include padding e border nelle dimensioni */
}

body {
  display: flex;
  flex-direction: column; /* Disposizione verticale */
  justify-content: flex-start; /* Inizia in alto */
}

/* ==============================
Header
============================== */
.header {
  justify-content: space-between; /* Spaziatura uniforme */
  align-items: center; /* Allinea gli elementi verticalmente */
  background-color: #fff; /* Sfondo del header */
  padding: 10px 20px; /* Spaziatura interna */
  top: 0;
  z-index: 1000; /* Porta l'header sopra altri elementi */
  flex-wrap: wrap; /* Permette di andare a capo quando necessario */
}


h1 {
  font-size: 20px;
  color: #2c3e50;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #34495e;
  margin-bottom: 10px;
}

/* ==============================
Form
============================== */
form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form textarea, form select, form button {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #2980b9;
}

/* ==============================
Table
============================== */
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 14px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;

}

th {
  background-color: #3498db;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.commesse-list{
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}


.container.gestione-utenti {
  margin-top: 20px;
}



.reparto-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.reparto-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.attivita-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.attivita-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}


.commessa {
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  font-size: 14px;
  border: 1px solid #030303;
}
.commessauseRef:hover {
  transform: scale(1.02);
  background-color: #cdfcc3;
}


.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}


.form-select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: white;
}

.form-select:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

    /* ==============================
     calendario
     ============================== */

     .testCont {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
    }
    .fc-view-container {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 100px); /* Altezza dinamica, lascia spazio per header */
      overflow: hidden;
    }
    
    .fc-scroller {
      overflow-y: auto;
      overflow-x: hidden; /* Rimuove lo scroll orizzontale dall'area principale */
      height: calc(100% - 40px); /* Lascia spazio per la barra di scorrimento orizzontale */
      position: relative;
    }
    
    .scroll-wrapper {
      position: relative;
      width: 100%;
      overflow-x: auto; /* Scroll orizzontale visibile in alto */
    }
    
    .fc-timeline-body {
      min-width: 100%; /* Mantiene il contenuto del calendario adattabile */
      overflow-x: hidden; /* Nasconde scroll orizzontale non desiderato nella vista */
    }
    
    .fc-timeline-header {
      position: sticky;
      top: 0;
      z-index: 5;
      background: white;
    }

    .fc-event {
      min-height: 30px;
      min-width: 150px; /* Imposta un'altezza minima per gli eventi */
    }

.calendario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settimana {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  overflow-x: auto;
}

.settimana-giorni {
  display: flex;
  gap: 10px;
}

.giorno {
  flex: 1;
  text-align: center;
}

.categoria {
  display: flex;
  flex-direction: row;
}

.categoria-nome {
  flex: 1;
  font-weight: bold;
  text-align: left;
}

.categoria-giorni {
  display: flex;
  gap: 10px;
  flex: 9;
}

.categoria-giorno {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 50px;
}

.attivita-item {
  background-color: #e6f7ff;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}


.navigation {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 10px;
  margin-top:10px ;
}

.commessa-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

}

.container-Scroll{
  display: flex;
  flex-direction: column;
  height: 92vh; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

    /* ==============================
     tabs
     ============================== */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.tab-btn.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.tab-btn:hover {
  background-color: #e0e0e0;
}


.view-selector {
  margin-bottom: 20px;
}

.view-selector label {
  font-weight: bold;
  margin-right: 10px;
}

.view-selector select {
  padding: 5px;
  font-size: 16px;
}

    /* ==============================
     Login
     ============================== */
.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-container button {
  display: block; /* Imposta i pulsanti come blocchi per evitare sovrapposizioni */
  width: 100%; /* Rende i pulsanti uniformi */
  margin-top: 10px; /* Spazio tra i pulsanti */
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .error {
  color: red;
  margin-top: 10px;
}

.login-container .message {
  color: green;
  margin-top: 10px;
}
    /* ==============================
     pop up
     ============================== */

     .popup {
      position: fixed;
  top: 0; /* Assicurati che copra tutta la schermata */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Imposta un valore più alto dell'header */
  overflow: hidden; /* Nasconde eventuali overflow */
    }
    
    .popup-content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      width: 80%;
      max-width: 600px;
      max-height: 90%; /* Limita l'altezza massima */
      overflow-y: auto; /* Scorrimento verticale per contenuti lunghi */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Migliora l'aspetto con un'ombra */
    }
    
    .popup button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .popup button:hover {
      background-color: #0056b3;
    }
    
    .success-message {
      background-color: #d4edda;
      color: #155724;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #c3e6cb;
      border-radius: 5px;
      font-size: 14px;
    }
    .error-message {
      background-color: #f8d7da;
      color: #721c24;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #f5c6cb;
      border-radius: 5px;
      font-size: 14px;
    }
    

    /* ==============================
     select
     ============================== */
.container select {
width: 100%;
padding: 8px;
margin: 10px 0;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 14px;
background-color: #f9f9f9;
background-image: url('https://image.shutterstock.com/image-vector/arrow-icon-260nw-1467482160.jpg'); /* Icona freccia */
background-position: right 10px center;
background-repeat: no-repeat;
padding-right: 30px; /* Spazio per l'icona */
}

/* Cambia il bordo quando il select è in focus */
.container select:focus {
border-color: #007bff; /* Colore blu per il bordo */
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombra blu */
}

/* Aggiungi uno stile per le opzioni */
.container select option {
padding: 8px;
background-color: #fff;
color: #333;
}

/* Cambia il colore di sfondo quando si seleziona un'opzione */
.container select option:checked {
background-color: #4CAF50; /* Verde per l'opzione selezionata */
color: white;
}

/* Aggiungi scroll per select con tante opzioni */
.container select {
max-height: 200px;
overflow-y: auto;
}

    /* ==============================
     loading spin
     ============================== */
.loading-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
}

.spinner {
width: 50px;
height: 50px;
border: 5px solid #f3f3f3;
border-top: 5px solid #3498db;
border-radius: 50%;
animation: spin 1s linear infinite;
}

.logo-spinner{
  width: 100px; /* Regola la dimensione del logo */
  height: 100px;
   /*animation: spin 2s linear infinite; */
  animation:pulse 1s ease-in-out infinite;
}
    /* ==============================
     Animations
     ============================== */
@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Dimensione normale */
    opacity: 1; /* Completamente visibile */
  }
  50% {
    transform: scale(1.5); /* Leggermente più grande */
    opacity: 0.5; /* Leggermente trasparente */
  }
}

.login-logo {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: auto;
}

.login-logo.pulsing {
  animation: pulse2 1s infinite;
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
    /* ==============================
     buttons
     ============================== */

     .btn {
      font-family: Arial, sans-serif;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    button:hover, a:hover {
      background-color: #0056b3;
      color: #fff;
    }
.create-activity-btn {
background-color: #007bff;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;

}

.create-activity-btn:hover {
background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #a71d2a;
}

.btn-warning {
  color: black;
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-Order{
  background-color: #e0a800;
}


.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-new-comm{
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-new-comm:hover {
  background-color: #b30068;
}
.btn-Nav{
  background-color:#007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

    /* ==============================
     input
     ============================== */
.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;

  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
  }
    /* ==============================
     filters
     ============================== */

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  flex-wrap: wrap
}

.filter-label {
  margin-right: 10px;
  font-size: 16px;
  color: #000000;
}

.filter-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.filter-select:focus {
  border-color: #007bff;
  outline: none;
}


.filter-group {
display: flex;
flex-direction: column;
padding-left: 20px;
padding-right: 20px;
position: relative;
}

.filters.active {
  display: flex;
  flex-wrap: wrap;
}
.suggestions-list {
  padding: 0;
  margin: 0;
  position: absolute; /* Necessario per posizionare la lista sotto l'input */
  top: 100%; /* Posiziona la lista immediatamente sotto l'input */
  left: 0;
  z-index: 10; /* Assicura che la lista appaia sopra altri elementi */
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  width: calc(100% - 2px); /* Adatta la larghezza al contenitore */
  overflow-y: auto;
  border-radius: 4px; /* Opzionale, per arrotondare gli angoli */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effetto ombra */
}


.suggestions-list li {
padding: 10px;
cursor: pointer;
}

.suggestions-list li:hover {
background-color: #f0f0f0;
}
.form-group {
  position: relative; /* Importante per far sì che la lista `.suggestions-list` si posizioni rispetto al contenitore */
}

.dropdown-label {
  cursor: pointer;
  display: block;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #000000;
}

.dropdown-menu {
  position: absolute; /* Posizionamento assoluto rispetto al contenitore padre */
  top: 100%; /* Appare subito sotto l'elemento padre */
  background-color: white;
  border: 1px solid #050505;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 90%; /* Si adatta alla larghezza dell'elemento padre */
  padding: 8px 12px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.dropdown-menu label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 8px;
}

.trasferta-icon {
  margin-left: 5px;
  font-size: 20px;
  color: #007bff; /* Colore dell'icona */
  vertical-align: middle;
}

/* ==============================
Responsive Design
============================== */
@media (max-width: 768px) {
  .container {
    max-width: 95%; /* Adatta alla larghezza dello schermo */
    padding: 15px;  /* Riduci il padding per schermi piccoli */
  }
  .menu-toggle {
    display: block; /* Mostra il pulsante toggle */
  }

  .header nav {
    display: none;
  }
  .header {
    flex-wrap: wrap; /* Permette di andare a capo quando necessario */
  }

  h1 {
    font-size: 16px;
    color: #2c3e50;
    text-align: center;
  }
  
  h2 {
    font-size: 14px;
    color: #34495e;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 10px;
  }
  .header nav.active {
    display: flex;
    flex-direction: column;
  }
  .filters, .tabs, .form-group {
    flex-direction: column;
    align-items: stretch;
    font-size: 12px;
  }
  table {

    display: block;
  }

  /* Aggiungi spaziatura uniforme tra gli elementi */
  .filters > *:not(:last-child),
  .tabs > *:not(:last-child),
  .form-group > *:not(:last-child) {
    margin-bottom: 10px; /* Spaziatura uniforme */
  }

  /* Rimuovi margini aggiuntivi dall'ultimo elemento */
  .filters > *:last-child,
  .tabs > *:last-child,
  .form-group > *:last-child {
    margin-bottom: 0;
  }
  th, td {
    padding: 6px;
    font-size: 16px;
  }
  
  .filter-label {
    font-size: 12px;
  }
  .container select{
    font-size: 12px;
  }
  .input-field {
    font-size: 12px;
  }
  
  
.dropdown-label {
  font-size: 12px;
  padding: 10px;
}

.dropdown-menu {
  font-size: 12px;
}

.dropdown-menu label {
  font-size: 12px;
  
}

  .popup-content {
    width: 90%; /* Occupa quasi tutta la larghezza dello schermo */
    padding: 15px; /* Riduce il padding per schermi più piccoli */
    border-radius: 8px; /* Bordi leggermente meno arrotondati */
  }

  .popup button {
    width: 100%; /* I pulsanti occupano tutta la larghezza */
    padding: 12px; /* Spaziatura maggiore per rendere più semplice il clic */
    font-size: 16px; /* Aumenta il font per una migliore leggibilità */
  }
}

@media (max-width: 480px) {
  .popup-content {
    width: 95%; /* Ulteriore adattamento per schermi molto piccoli */
    padding: 10px; /* Riduce ulteriormente il padding */
    max-height: 80%; /* Riduce l'altezza massima per evitare overflow */
  }

  .popup button {
    font-size: 14px; /* Adatta il font per spazi ristretti */
    padding: 10px; /* Riduce il padding dei pulsanti */
  }

}

@media (max-width: 480px) {
  .container {
    max-width: 100%; /* Occupa tutta la larghezza */
    padding: 10px;   /* Ulteriore riduzione del padding */
    box-shadow: none; /* Rimuovi l'ombra per un design più piatto */
    border-radius: 0; /* Rimuovi i bordi arrotondati */
  }

  
  .header nav {
    display: none; /* Nasconde il menu su schermi piccoli */
    flex-direction: column; /* Disposizione verticale per il menu */
    width: 100%; /* Occupare tutta la larghezza */
    background-color: #fff; /* Sfondo bianco per il menu */
    padding: 10px 0;
  }
  
  .header nav.active {
    display: flex; /* Mostra il menu quando è attivo */
  }
  
  .header .menu-toggle {
    display: block; /* Mostra il pulsante toggle su dispositivi mobili */
  }
  .sidebar {
    display: none;
  }
  th, td {
    padding: 6px;
    font-size: 14px;
  }
  .filters, .tabs, .form-group {
    padding: 5px;
    margin-bottom: 10px;
  }

  .container {
    margin: 5px auto;
    padding: 10px;
  }

}



