
    /* ==============================
     generale
     ============================== */
     
     html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: #f5f5f5; /* Colore di sfondo */
      color: #333; /* Colore del testo */
      font-family: Arial, sans-serif; /* Font generale */
    }
    
    body {
      display: flex;
      flex-direction: column; /* Permette di organizzare i contenuti verticalmente */
      justify-content: space-between; /* Allinea gli elementi in modo uniforme */
      box-sizing: border-box; /* Include padding e border nelle dimensioni */
    }
    

.header {

  justify-content: space-between;
  align-items: center;
}


.container {
  max-width: 80%;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


h1 {
  font-size: 24px;
  color: #2c3e50;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #34495e;
  margin-bottom: 10px;
}

/* Modulo */
form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form textarea, form select, form button {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #2980b9;
}

/* Tabella */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.commesse-list{
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

    /* ==============================
     Navbar
     ============================== */
nav {
  background-color: #3498db;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #2980b9;
}



.container.gestione-utenti {
  margin-top: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
}


.reparto-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.reparto-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.attivita-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.attivita-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.attivita-item:hover {
  transform: scale(1.02);
}



.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}


.form-select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: white;
}

.form-select:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

    /* ==============================
     calendario
     ============================== */

     .testCont {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
    }
    .fc-view-container {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 100px); /* Altezza dinamica, lascia spazio per header */
      overflow: hidden;
    }
    
    .fc-scroller {
      overflow-y: auto;
      overflow-x: hidden; /* Rimuove lo scroll orizzontale dall'area principale */
      height: calc(100% - 40px); /* Lascia spazio per la barra di scorrimento orizzontale */
      position: relative;
    }
    
    .scroll-wrapper {
      position: relative;
      width: 100%;
      overflow-x: auto; /* Scroll orizzontale visibile in alto */
    }
    
    .fc-timeline-body {
      min-width: 100%; /* Mantiene il contenuto del calendario adattabile */
      overflow-x: hidden; /* Nasconde scroll orizzontale non desiderato nella vista */
    }
    
    .fc-timeline-header {
      position: sticky;
      top: 0;
      z-index: 5;
      background: white;
    }

    .fc-event {
      min-height: 30px;
      min-width: 150px; /* Imposta un'altezza minima per gli eventi */
    }

.calendario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settimana {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  overflow-x: auto;
}

.settimana-giorni {
  display: flex;
  gap: 10px;
}

.giorno {
  flex: 1;
  text-align: center;
}

.categoria {
  display: flex;
  flex-direction: row;
}

.categoria-nome {
  flex: 1;
  font-weight: bold;
  text-align: left;
}

.categoria-giorni {
  display: flex;
  gap: 10px;
  flex: 9;
}

.categoria-giorno {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 50px;
}

.attivita-item {
  background-color: #e6f7ff;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.commessa-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}


.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

    /* ==============================
     tabs
     ============================== */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.tab-btn.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.tab-btn:hover {
  background-color: #e0e0e0;
}


.view-selector {
  margin-bottom: 20px;
}

.view-selector label {
  font-weight: bold;
  margin-right: 10px;
}

.view-selector select {
  padding: 5px;
  font-size: 16px;
}

    /* ==============================
     Login
     ============================== */
.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-container button {
  display: block; /* Imposta i pulsanti come blocchi per evitare sovrapposizioni */
  width: 100%; /* Rende i pulsanti uniformi */
  margin-top: 10px; /* Spazio tra i pulsanti */
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .error {
  color: red;
  margin-top: 10px;
}

.login-container .message {
  color: green;
  margin-top: 10px;
}
    /* ==============================
     pop up
     ============================== */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  overflow-y: auto;
}

.popup button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}



    /* ==============================
     select
     ============================== */
.container select {
width: 100%;
padding: 8px;
margin: 10px 0;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 14px;
background-color: #f9f9f9;
background-image: url('https://image.shutterstock.com/image-vector/arrow-icon-260nw-1467482160.jpg'); /* Icona freccia */
background-position: right 10px center;
background-repeat: no-repeat;
padding-right: 30px; /* Spazio per l'icona */
}

/* Cambia il bordo quando il select è in focus */
.container select:focus {
border-color: #007bff; /* Colore blu per il bordo */
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombra blu */
}

/* Aggiungi uno stile per le opzioni */
.container select option {
padding: 8px;
background-color: #fff;
color: #333;
}

/* Cambia il colore di sfondo quando si seleziona un'opzione */
.container select option:checked {
background-color: #4CAF50; /* Verde per l'opzione selezionata */
color: white;
}

/* Aggiungi scroll per select con tante opzioni */
.container select {
max-height: 200px;
overflow-y: auto;
}

    /* ==============================
     loading spin
     ============================== */
.loading-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
}

.spinner {
width: 50px;
height: 50px;
border: 5px solid #f3f3f3;
border-top: 5px solid #3498db;
border-radius: 50%;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
    /* ==============================
     buttons
     ============================== */

     .btn {
      font-family: Arial, sans-serif;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
.create-activity-btn {
background-color: #007bff;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;

}

.create-activity-btn:hover {
background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #a71d2a;
}

.btn-warning {
  color: black;
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-Order{
  background-color: #e0a800;
}


.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-new-comm{
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-new-comm:hover {
  background-color: #b30068;
}

    /* ==============================
     input
     ============================== */
.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }

    /* ==============================
     filters
     ============================== */

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.filter-label {
  margin-right: 10px;
  font-size: 16px;
  color: #000000;
}

.filter-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.filter-select:focus {
  border-color: #007bff;
  outline: none;
}


.filter-group {
display: flex;
flex-direction: column;
padding-left: 20px;
padding-right: 20px;
position: relative;
}


.suggestions-list {
  padding: 0;
  margin: 0;
  position: absolute; /* Necessario per posizionare la lista sotto l'input */
  top: 100%; /* Posiziona la lista immediatamente sotto l'input */
  left: 0;
  z-index: 10; /* Assicura che la lista appaia sopra altri elementi */
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  width: calc(100% - 2px); /* Adatta la larghezza al contenitore */
  overflow-y: auto;
  border-radius: 4px; /* Opzionale, per arrotondare gli angoli */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effetto ombra */
}


.suggestions-list li {
padding: 10px;
cursor: pointer;
}

.suggestions-list li:hover {
background-color: #f0f0f0;
}
.form-group {
  position: relative; /* Importante per far sì che la lista `.suggestions-list` si posizioni rispetto al contenitore */
}
